*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    display: flex;
    align-items: center; 
    justify-content: center;
   height: 100vh;
   background-color: #E5D9F2;
}
.container{
    border: 2px solid #A594F9;
   border-radius: 4px;
    height: 500px;
    width: 300px;
    background-color: #F5EFFF;
  box-shadow: 3px 3px 7px black;
   }
 .content{
    padding: 10px;
 }  
#display{
    margin-top: 20%;
    width: 98%;
    height: 65px;
    /* margin-left: 10px; */
    border: none;
    border-radius: 2px;
    color: black;
    background-color: #fff;
    text-align: right;
    box-shadow: 1px 1px 8px black, -1px -1px 8px black;
    font-size: 1.5rem;
    font-weight: 600;
}
.buttons{
    margin-top: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    width: 100%;
}
button{
    height: 45px;
    width: 23.4%;
    margin: 2px;
    border: none;
    border-radius: 2px;
    background-color: #CDC1FF;
    font-size: 1.1rem;
}
button i {
    color: black;
}
button:hover
{
    background-color: #A594F9;
}
footer{
    height: 100px;
    background-color: #A594F9;
    
}
🤪/*  */